.header{
    background-color: #fff;
    //font-family: lato;

    &_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        min-width: 1200px;
        margin: 0 auto;
    }

    &_list{
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &_item{
        letter-spacing: 4px;
        cursor: pointer;
        color: #1D2B64;
        padding: 1rem 0;
        margin-right: 2.5rem;
        &:last-child{
            margin-right: 0;
        }
    }
}