body,
h2 {
  margin: 0;
  padding: 0; }

.header {
  background-color: #fff; }
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto; }
  .header_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; }
  .header_item {
    letter-spacing: 4px;
    cursor: pointer;
    color: #1D2B64;
    padding: 1rem 0;
    margin-right: 2.5rem; }
    .header_item:last-child {
      margin-right: 0; }

.wrapper {
  background-color: #1D2B64;
  font-family: 'Poppins', sans-serif; }

.banner {
  position: relative;
  background: #2229c3;
  background: linear-gradient(30deg, #1D2B64, #F8CDDA);
  min-height: 500px;
  max-height: 500px;
  height: 500px; }
  .banner__metadata {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .banner__text {
    max-width: 50%;
    color: #fff; }
  .banner__title {
    font-size: 4rem;
    font-weight: 300; }
  .banner__subtitle {
    font-size: 1.5rem;
    font-weight: 300; }
  .banner__img {
    display: block;
    max-height: 100%; }
  .banner_button {
    display: block;
    text-align: center;
    padding: 1rem;
    border: 1px solid #F8CDDA;
    max-width: 300px;
    border-radius: 4px;
    background-color: #FFE8E8;
    color: #1D2B64;
    cursor: pointer; }

.slider_container {
  position: relative; }

.btn-c {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.profesional {
  background-color: #fff; }
  .profesional_container {
    max-width: 1200px;
    margin: 0rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 1rem 0;
    grid-gap: 4rem; }
  .profesional_one {
    margin-bottom: 2rem; }
    .profesional_one > p {
      margin: 0; }
  .profesional_img {
    width: 100%;
    border-radius: 4px; }
  .profesional_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    font-size: 1rem;
    height: 100%; }
  .profesional_title {
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: .5rem;
    font-size: 1.5rem; }
  .profesional_button {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #F8CDDA;
    max-width: 300px;
    border-radius: 4px;
    background-color: #FFE8E8;
    color: #1D2B64;
    cursor: pointer; }

.bg-gray {
  background-color: #e6e6e6; }

.cursos {
  margin: 0 auto;
  max-width: 1200px; }
  .cursos_container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    justify-content: space-between; }
  .cursos_img {
    object-fit: cover;
    max-width: 100%;
    min-height: 100%; }
  .cursos_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100%; }
  .cursos_title {
    position: relative;
    font-size: 2rem;
    font-weight: 400; }
    .cursos_title::after {
      content: '';
      position: absolute;
      height: 0.2rem;
      width: 15%;
      background: #1D2B64;
      bottom: -.5rem;
      left: 0; }

.mb-1 {
  margin-bottom: 1rem; }

.center {
  text-align: center; }

.contacto {
  margin-top: 1rem;
  min-height: 70vh;
  background-color: #1D2B64;
  color: white; }
  .contacto_container {
    max-width: 1200px;
    margin: 0 auto; }
  .contacto_title, .contacto_subtitle {
    text-align: center; }
  .contacto_formulario {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contacto_formulario > label {
      width: 50%;
      margin-bottom: 1rem; }
      .contacto_formulario > label > span {
        margin-bottom: .5rem; }
      .contacto_formulario > label > input {
        width: 100%;
        border-radius: 4px;
        border: none;
        padding: .5rem;
        outline: none; }
    .contacto_formulario > select {
      width: 50%;
      margin-bottom: 1rem;
      border-radius: 4px;
      border: none;
      padding: .5rem;
      outline: none; }
  .contacto_subtitle-insideform {
    display: flex;
    margin-right: .5rem; }
  .contacto_tipoformacion {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-bottom: 1rem; }
    .contacto_tipoformacion > label {
      display: flex;
      justify-content: space-around; }
  .contacto_selectdetail {
    width: 50%;
    margin-bottom: 1rem; }
    .contacto_selectdetail > div {
      width: 100%; }
  .contacto_checkboxcontainer {
    display: flex;
    justify-content: space-around; }
    .contacto_checkboxcontainer > label {
      display: flex; }

.justify-center {
  justify-content: center; }

.full-width {
  min-width: 50%; }

.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 1rem;
  border-radius: 4px; }
